.authPage {
  height: 100vh;
  background-color: var(--searchBar);
  position: relative;
}

.authHeader {
  padding: 20px 30px;
}

.backIcon {
  font-size: 20px;
}

.authMain {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.authForm {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}

.authTitle {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.authSubTitle{
  text-align: center;
  margin-bottom: 20px;
}



.formDivider {
  border-top: 0.5px solid #8b8b8b;
  margin: 15px 0;
}

.authSubmitButton {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 0;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.authSubmitButtonAdmin {
  width: 100%;
  background-color: var(--AdminTheme);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 0;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.authSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authSwitchText {
  font-size: 12px;
  font-weight: 600;
  color: #626262;
}

.authSwitchLink {
  font-size: 14px;
  margin-left: 5px;
  color: black;
}
.authSwitchLinkAdmin {
  font-size: 14px;
  margin-left: 5px;
  color: var(--AdminTheme);
}



.otpOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  z-index: 100;
}

.otpModal {
  background-color: white;
  padding: 20px 15px;
  border-radius: 7px;
  width: 100%;
  max-width: 500px;
}

.otpHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.otpTitle {
  font-size: 20px;
  font-weight: 600;
}




.otpOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  cursor: pointer;
}

.otpLabel {
  display: flex;
  align-items: center;
  gap: 10px;
}


.otpText {
  font-size: 16px;
  font-weight: 500;
}

.otpCheck {
  width: 18px;
  height: 18px;
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.otpCheck.active {
  background-color: yellowgreen;
}

.otpSendContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



.otpSendButton {
  width: 100%;
  background-color: black;
  color: white;
  font-weight: 700;
  padding: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
}
#outlined-adornment-password{
  color: black;
}

/* Responsive */
@media screen and (width < 410px) {
  .otpIcon {
    display: none;
  }

  .otpText {
    font-size: 14px;
  }

  .otpCheck {
    width: 16px;
    height: 16px;
    margin-left: 10px;
  }

  .otpSendButton {
    padding: 8px 16px;
  }

  .otpOption {
    padding: 12px 8px;
  }
}

@media screen and (width < 600px) {
  .authHeader{
    margin-bottom: 10px;
  }
}
@media screen and (width < 400px) {
  .authTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.authSubTitle{
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
}
  .authSubmitButton {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.authSubmitButtonAdmin {
  width: 100%;
  background-color: var(--AdminTheme);
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
  .authSwitchText {
  font-size: 12px;

}

.authSwitchLink {
  font-size: 13px;

}
.authSwitchLinkAdmin {
  font-size: 13px;

}
.otpTitle{
  font-size: 16px;
}
.otpText{
  font-size: 14px;
}
.otpSendButton {
  width: 100%;
  background-color: black;
  color: white;
  font-weight: 700;
  padding: 7px 0;
  border-radius: 10px;
  cursor: pointer;
}

}