.authPage {
  height: 100vh;
  background-color: var(--searchBar);
  position: relative;
}

.authHeader {
  padding: 20px 30px;
}

.backIcon {
  font-size: 20px;
}

.authMain {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.authForm {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}

.authTitle {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}
.authSubTitle{
  text-align: center;
}



.formDivider {
  border-top: 0.5px solid #8b8b8b;
  margin: 15px 0;
}

.authSubmitButton {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 0;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.authSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authSwitchText {
  font-size: 12px;
  font-weight: 600;
  color: #626262;
}

.authSwitchLink {
  font-size: 14px;
  margin-left: 5px;
  color: black;
}
