/* Active Image Border */
.firstImg,
.secondImg,
.thirdImg {
  border: 4px solid black;
}

/* Active Size Button */
.bgBlackSM,
.bgBlackMDM,
.bgBlackL,
.bgBlackXL {
  background-color: black;
  color: white;
}
