.footer{
    min-height: 499px;
background-color: var(--searchBar);
padding-top: 140px;
}
.footer .container{
    padding: 0px;
}
.companyContainer{
   grid-template-columns: 248px 1fr;
  margin-bottom: 50px;
}

.companyDetails .icon{
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 25px;
}
.companyText{
    font-size: 14px;
    color: #0000009a;
    font-weight: 400;
    margin-bottom: 35px;
}
.socialIcons{
    gap: 10px;
}
.footerNav{
    justify-content: space-between;
}
.footerHeading{
    margin-bottom:26px ;
    font-size: 18px;
    font-weight: 700;
}
.footerList{
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
color: #0000009c;
}
.footerNav{
    grid-template-columns: repeat( 4,1fr);
    justify-items:end ;
}
.copyRightArea{
    margin-top: 25px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.copyRight{
font-size: 14px;
color: #0000009a;
}
@media screen and (width < 1000px) {
    .companyContainer{
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(2 , 1fr);
       padding: 0px 16px;
     }
     .footerNav{
        grid-template-columns: repeat( 4,1fr);
        justify-items:center ;
    }
}
@media screen and (width < 620px) {
    .copyRightArea{
        gap: 20px;
        justify-content: center;
       
    }
    .footerNav{
        grid-template-columns: repeat( 2,1fr);
        grid-template-rows: repeat(2, 1fr);
       gap: 30px;
       justify-items: start;
    }
    .companyContainer{
        grid-template-columns: 1fr ;
        grid-template-rows: 212px 1fr;
       padding: 0px 16px;
     }

}
@media screen and (width < 400px) {
    .footerHeading{
        margin-bottom:26px ;
        font-size: 16px;
        font-weight: 700;
    }
    .footerList{
      font-size: 14px;
    }
}