.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 20px;
}

.inputLabel {
  font-size: 14px;
  font-weight: 500;
  color: #626262;
}

.inputField {
  height: 36px;
  padding: 0 8px;
  border-radius: 6px;
  border: none;
  outline: 2px solid #b3b3b3;
  font-size: 14px;
  width: 100%;
}


.inputField:focus {
  outline: 2px solid black;
}


#passwordInput .inputField{
padding-right: 40px;
}
#passwordInput{
 padding: 0px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: relative;
}

.eye{
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
right: 0px;
color: #b3b3b3;
}

@media screen and (width < 400px) {
  .inputLabel {
  font-size: 12px;
  font-weight: 600;

}
.inputField {
  height: 32px;
  padding: 0 8px;
  border-radius: 6px;
  border: none;
  outline: 2px solid #b3b3b3;
  font-size: 13px;
  width: 100%;
}

}