/* Keep only scrollbars here */

.reviewArea::-webkit-scrollbar {
  width: 12px;
}
.reviewArea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}
.reviewArea::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
.reviewArea::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}
