@media screen and (width > 621px) {
    .heroContent .link{
    width: max-content;
    height: 55px;

}
}
.link{
    margin-bottom: 55px;
    flex-grow: none;
}
.btn{
    margin-bottom: 0;
    font-family: var(--secFont);
}
@media screen and (width < 620px) {
    .btn{
        width: 100%;
    }
}
@media screen and (width < 550px) {
    .btn{
        margin-bottom: 20px;
    }
}

