/* Handle grid-template-areas only */
.styleContainer {
  grid-template-areas:
    "casual casual formal formal formal"
    "party party party gym gym";
}

@media screen and (width < 750px) {
  .styleContainer {
    grid-template-areas:
      "casual"
      "formal"
      "party"
      "gym";
  }
}

/* Map grid areas */
.casual {
  grid-area: casual;
}
.formal {
  grid-area: formal;
}
.party {
  grid-area: party;
}
.gym {
  grid-area: gym;
}
