.otpOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.otpModalBox {
  background-color: var(--searchBar);
  padding: 20px 15px;
  border-radius: 7px;
  width: 100%;
  max-width: 460px;
}

.otpHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.otpHeading {
  font-size: 20px;
  font-weight: 600;
}

.otpMessageArea {
  margin-top: 20px;
}

.otpInstructionText {
  font-size: 14px;
  color: #444;
}

.otpInputGroup {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.otpInput {
  width: 40px;
  height: 45px;
  font-size: 20px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border 0.2s ease;
}

.otpInput:focus {
  border: 2px solid black;
}

.otpDivider {
  border-top: 1px solid #8b8b8b;
  margin: 15px 0;
}

.otpResendSection {
  margin: 10px 0;
}

.otpResendText {
  font-size: 12px;

}

.otpResendLink {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.otpButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.otpSubmitButton {
  width: 100%;
  background-color: black;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.otpBackContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.otpBackButton {
  background: transparent;
  color: black;
  padding: 10px 0;
  border: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  margin: 20px 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.otpBackText {
  margin-left: 10px;
}

/* Responsive */
@media screen and (width < 410px) {
  .otpInputGroup {
    gap: 7px;
  }

  .otpInput {
    width: 36px;
    height: 42px;
  }

  .otpResendText {
    font-size: 10px;
  }

  .otpResendLink {
    font-size: 12px;
    font-weight: 500;
  }

  .otpSubmitButton {
    padding: 8px 16px;
  }
}
