.heroContainer{
    grid-template-columns: repeat(2 , 1fr);
   

}
.heroSection .heroContainer{
    padding-bottom: 0px;

}
.btn{
    background-color: var(--black);
    color: var(--white);
    padding:16px 54px ;
    border-radius:62px ;
    -webkit-border-radius:62px ;
    -moz-border-radius:62px ;
    -ms-border-radius:62px ;
    -o-border-radius:62px ;
    font-weight: 500;
    margin-bottom: 48px;
  cursor: pointer;
}


.heroSection{
    background-color: var(--heroBG);
}
.heroContent{
    padding-top: 103px;
    padding-bottom: 116px;
}
.heroHeading{
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    font-family: var(--primaryFont);
    margin-bottom: 32px;
}
.subHeading{
    font-weight: 400;
    line-height: 22px;
    color: #0000009c;
    margin-bottom: 32px;
    font-size: 16px;
    font-family: var(--primaryFont);
}
.inBrandNum{
    font-weight: 700;
    font-size: 40px;

}
.inBrandText{
    font-weight: 400;
    color: #0000009a;
}
.line{
  background-color: #0000001d;
  width: 2px;
  height: 74px;
}
.brandStatics{
    gap: 32px;
}
.heroImg{
    position: relative;
  
}
.bigStar{
    /* width: 104px;
    aspect-ratio: 1; */
    position: relative;
   top: 120px;
   left: 500px;
}
.smallStar{
    position: relative;
    top: 40%;
    right: 10%;
}
.heroImg{
    background-image: url("../../../public/heromodels.jpg");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: top center;
}


@media screen and (width < 1135px) and (width > 1045px) {
    .heroHeading{
      
        font-size: 56px;
      
    }
    .subHeading{
       
        font-size: 14px;
       
    }
    
     .inBrandNum{
        font-weight: 700;
        font-size: 36px;
    
    }
   
    .line{
      background-color: #0000001d;
      width: 2px;
      height: 74px;
    }
    .brandStatics{
        gap: 24px;
    }
    .heroImg{
        background-image: url("../../../public/heromodels.jpg");
        background-size: 550px;
        background-repeat: no-repeat;
        background-position: top center;
    }
}
@media screen and (width < 1045px) and (width > 850px){
  
    
     .heroImg{
        background-image: url("../../../public/heromodels.jpg");
        background-size: 450px;
        background-repeat: no-repeat;
        background-position: top center;
    }
    .heroHeading{
      
        font-size: 52px;
      
    }
    .inBrandNum{
        font-weight: 700;
        font-size: 30px;
    
    }
    .inBrandText{
        font-size: 12px;
 
    }
}
@media screen and (width < 855px)  {
    .heroContainer{
        grid-template-columns: repeat(1 , 1fr);
        grid-template-rows: repeat(2, 1fr);
    
    }
    .heroContent{
        padding-top: 40px;
        padding-bottom:0px;
    }
    .heroHeading{
width: 80%;
    }
    .subHeading{
width: 80%;
    }
    .heroImg{
        background-image: url("../../../public/heromodels.jpg");
        background-size: 600px;
        background-repeat: no-repeat;
        background-position: top center;
    }
    

}
@media screen and (width < 620px) {
    .heroImg{
        background-image: url("../../../public/heromodels.jpg");
        background-size: 450px;
        background-repeat: no-repeat;
        background-position: top center;
    }
 
    .brandStatics{
        justify-content: center;
        flex-wrap: wrap;
    }
    .inBrandNum{
        font-weight: 700;
        font-size: 32px;
    
    }
    .inBrandText{
        font-size: 12px;
 
    }
    .heroHeading{
        width: 100%;
            }
            .subHeading{
        width: 100%;
            }
}
@media screen and (width < 550px) {
    .heroHeading{
        font-size: 52px;
        font-weight: 800;
        line-height: 54px;
        margin-bottom: 20px;
    }
    .subHeading{
      font-size: 14px;
      line-height: 20px; 
      margin-bottom: 20px; 
    }
   .line{
    height: 52px;
   }
   
}
@media screen and (width < 400px) {
    .heroHeading{
        font-size: 36px;
        line-height: 34px;
    }
    .line2{
        display: none;
    }
}