.addressPage {
  height: 100vh;
  background-color: var(--searchBar);
  position: relative;
}

.addressHeader {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addressSkip{
    color: black;
    font-weight: 600;
    text-decoration: none;

}

.backIcon {
  font-size: 20px;
}

.addressMain {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.twoInputContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.inputGroup{
    flex-grow: 1;
}
.addressLabel {
  font-size: 14px;
  font-weight: 500;
  color: #626262;
}
.addressForm {
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}
.addressTextArea {

  padding: 2px 8px;
  border-radius: 6px;
  border: none;
  outline: 2px solid #b3b3b3;
  font-size: 14px;
  width: 100%;
}
.addressTitle {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.addressSubTitle{
  text-align: center;
  margin-bottom: 20px;
}



.formDivider {
  border-top: 0.5px solid #8b8b8b;
  margin: 15px 0;
}

.addressSubmitButton {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 0;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.addressSubmitButtonAdmin {
  width: 100%;
  background-color: var(--AdminTheme);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 0;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}






/* Responsive */
@media screen and (width < 600px) {
.addressHeader{margin-bottom: 25px;}
}