.clacSection{
    border: 1px solid #00000018;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 20px 24px;
    height: fit-content;
}
.calcArea{
    flex-direction: column;
    gap: 20px;
}
.calcHeading{
    font-size: 24px;
    margin-bottom: 24px;
}
.subTotalArea{
    justify-content: space-between;
    align-items: center;
}
.subTotal{
    font-size: 18px;
    color: #00000099;

}
.total{
    font-size: 18px;
    color: black; 
}
.subTotalPrice{
    font-size: 18px;
    font-weight: 700;
}
.discount{
    color: #FF3333;
}
.promoCodeArea{
    gap: 12px;
}
.promoInputArea{
    align-items: center;
    background-color: var(--searchBar);
    flex-grow: 1;
    padding: 12px 16px;
    border-radius: 62px;
    -webkit-border-radius: 62px;
    -moz-border-radius: 62px;
    -ms-border-radius: 62px;
    -o-border-radius: 62px;
    gap: 10px;
}
.cartPromo , .goToChkOut{
    background-color: var(--black);
    color: var(--white);
    padding: 12px 16px;
    border-radius:62px ;
    -webkit-border-radius:62px ;
    -moz-border-radius:62px ;
    -ms-border-radius:62px ;
    -o-border-radius:62px ;
    flex-grow: 1;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.promoCodeInput{
    background-color: transparent;
    border: none;
}
.promoCodeInput:focus{
    outline: none;
}

@media screen and (width < 1240px) {
    .calcHeading{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .subTotal{
        font-size: 16px;
        color: #00000099;
    
    }
    .total{
        font-size: 16px;
        color: black; 
    }
}
@media screen and (width < 390px) {
    .clacSection{
        border: 1px solid #00000018;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        padding: 10px 10px;
        height: fit-content;
    }
    .promoCodeInput{
        background-color: transparent;
        border: none;
       
    }
    .promoCodeArea{
        gap: 12px;
        flex-direction: column;
    }
}