.navHeader .container {
  padding: 24px 16px;
}
.navLogo .icon {
  font-size: 32px;
  font-weight: 700;
  font-family: var(--primaryFont);
}
.navLogo {
  align-items: center;
}

.navHeader .navData {
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.navigation ul {
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 24px;
}
.navigation ul li {
  font-family: var(--secFont);
  font-weight: 400;
  font-size: 16px;
}
.userInput {
  background-color: var(--searchBar);
  padding: 12px 16px;
  border-radius: 62px;
  -webkit-border-radius: 62px;
  -moz-border-radius: 62px;
  -ms-border-radius: 62px;
  -o-border-radius: 62px;
}
.searchBar {
  flex-grow: 1;
}
.searchBar .flexContainer {
  gap: 12px;
}
.searchInput {
  background-color: transparent;
  border: none;
  flex-grow: 1;
}
.searchInput::placeholder {
  color: #00000067;
  font-weight: 400;
}
.searchInput:focus {
  outline: none;
}
.cartIdIcon {
  display: flex;
  align-items: center;
  gap: 14px;
}
.searchIcon {
  display: none;
}

.menuBar {
  width: 34px;
  height: 34px;
  display: none;
  margin-right: 16px;
}
.shop {
  color: black;
  text-decoration: none;
}

.navTextColor {
  color: black;
  font-weight: 800;
}

@media screen and (width < 860px) {
  .searchBar {
    display: none;
  }
  .searchIcon {
    display: inline-block;
  }
}
@media screen and (width < 630px) {
  .navigation {
    display: none;
  }
  .menuBar {
    display: block;
  }
  .navHeader .navData {
    gap: 25px;
  }
}
