.newPassOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.newPassBox {
  background-color: white;
  padding: 20px 15px;
  border-radius: 7px;
  width: 100%;
  max-width: 460px;
}

.newPassHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newPassHeading {
  font-size: 20px;
  font-weight: 600;
}
.newPassHeadingAdmin {
  font-size: 20px;
  font-weight: 600;
  color: var(--AdminTheme);
}

.newPassMessageArea {
  margin-top: 20px;
  margin-bottom: 20px;
}

.newPassInstructionText {
  font-size: 14px;
  color: #444;
}



.newPassDivider {
  border-top: 1px solid #8b8b8b;
  margin: 15px 0;
}


.newPassButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.newPassSubmitButton {
  width: 100%;
  background-color: black;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}
.newPassSubmitButtonAdmin {
  width: 100%;
  background-color: var(--AdminTheme);
  color: white;
  border: none;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.newPassBackContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newPassBackButton {
  background: transparent;
  color: black;
  padding: 10px 0;
  border: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  margin: 20px 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.newPassBackText {
  margin-left: 10px;
}

/* Responsive */
@media screen and (width < 410px) {
 

  .newPassSubmitButton {
    padding: 8px 16px;
  }
}
