/* Custom Scrollbar */
.reviewArea::-webkit-scrollbar {
  width: 10px;
}
.reviewArea::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.reviewArea::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
  border: 3px solid #fff;
}
.reviewArea::-webkit-scrollbar-thumb:hover {
  background: #333;
}
