.sectionEmailChange {


}

.sectionEmailChange .container {
  padding-block: 40px;
}
.emailChangeContainer {
  padding-inline: 20px;
  padding-block: 30px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06), 
            0 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
margin-top: 40px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.emailChangeHeading {
  font-size: 26px;

  margin-bottom: 10px;
}
.emailChangeSubHeadeing {

  color: var(--subTextCrl);
}
.formSubContainer{
    width: 100%;

    margin-top: 40px;
}
.emailChangeFormContainer{
display: flex;
justify-content: center;
align-items: center;
    /* padding-inline: 300px;
    padding-block: 40px; */
}

.inputContainer{
    display: flex;
    gap: 30px;
}
.inputContainerVerifyOTP{
  display: flex;
  justify-content: center;
}
.newPassButtonContainer {
  display: flex;

  margin-top: 20px;
}
.newEmailSubmitButton {
 
  background-color: black;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.emailChangeVerifyOTPHeading {
  font-size: 26px;
font-weight: 600;
  margin-bottom: 10px;
}
.eemailChangeVerifyOTPSubHeadeing {

  color: var(--subTextCrl);
}

.otpInputGroupVerifyOTP{
  display: flex;
justify-content: center;
gap: 40px;

}
.newEmailVerifyOTPButtonContainer{
display: flex;
justify-content: center;
margin-bottom: 15px;
}
.newEmailVerifyOTPSubmitButton{
  
  background-color: black;
  color: white;
  font-weight: 600;
  padding: 10px 100px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}
.otpBackContainerVerifyOTP{

  display: flex;
  justify-content: center;
  align-items: center;

}
.otpBackButton{
   background: transparent;
  color: black;
  padding: 10px 0;
  border: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  margin: 10px 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}