.inputGroupProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
}
.circular{
    width: 150px;
    position: relative;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    border: 1px solid #b3b3b3;
}

.profileLabel {
width: 100%;
height: 100%;
display: block;
position: absolute;
top: 0;

}
.profileImages{
  position: absolute;
  width: 100%;
  height: 100%;

}
.fileUploadInput{
  display: none;
}
.profileImage{
  width: 100%;
  height: auto;
position: absolute;

}

.imageUploaderOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  overflow: hidden;
  
}

.imageUploaderModelBox {
 
  border-radius: 7px;
  width: 300px;
  height: 60vh;
  max-width: 460px;
  overflow: hidden;
  position: relative;
  z-index: 100 ;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.imageWapper{
  background-color: white;
  padding: 20px 15px;
  border-radius:10px ;
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  -ms-border-radius:10px ;
  -o-border-radius:10px ;
}
