.detailsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.productImgArea {
    gap: 14px;
    grid-template-columns: 152px 444px;
}

.productTextData {
    justify-content: space-between;
    flex-direction: column;
}

.productTitle {
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.ratingArea {
    gap: 16px;
    align-items: center;
    margin-bottom: 14px;
}

.priceArea {
    margin-bottom: 20px;
}

.ProductPrice,
.productActualPrice {
    font-size: 24px;
    font-weight: 500;
}

.productActualPrice {
    text-decoration: line-through;
    color: #0000004c;
}

.productOffPer {
    background-color: #FF33331A;
    padding: 4px 12px;
    border-radius: 62px;
    -webkit-border-radius: 62px;
    -moz-border-radius: 62px;
    -ms-border-radius: 62px;
    -o-border-radius: 62px;
    color: #FF3333;
    font-size: 14px;
}

.description {
    font-size: 14px;
    color: #00000096;

}

.horizon {
    color: rgba(0, 0, 0, 0.106);
    margin-block: 16px;
}

.headingSelect {
    color: #00000096;
    margin-bottom: 16px;
}

.selectColor {
    gap: 16px;
}

.sizeArea {
    gap: 12px;
    align-items: center;
}

.sizeBtn {
    padding: 12px 24px;
    background-color: var(--searchBar);
    border-radius: 62px;
    -webkit-border-radius: 62px;
    -moz-border-radius: 62px;
    -ms-border-radius: 62px;
    -o-border-radius: 62px;

    border: none;
}

.bgBlackSM,
.bgBlackMDM,
.bgBlackL,
.bgBlackXL {
    background-color: var(--black);
    color: var(--white);
}

.addToCartArea {
    gap: 20px;
}
.addToCartArea .link {
    margin-bottom: 0px;
}

.addToCartBtn {
    background-color: var(--black);
    color: var(--white);
    flex-grow: 1;
    border-radius: 62px;
    -webkit-border-radius: 62px;
    -moz-border-radius: 62px;
    -ms-border-radius: 62px;
    -o-border-radius: 62px;

}

.addToCartArea .link , .sizeArea .link {
    flex-grow: 1;
    text-decoration: none;
}

.smallImgArea {
    width: 152px;

    flex-direction: column;
    gap: 14px;

}

.smallImgOption {
    width: 100%;

    height: 167px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.bigImg {
    width: 444px;
    height: 530px;
}

.bigImage {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.firstImg , .secondImg , .thirdImg {
    border: 4px solid black;
}
@media screen and (width < 1080px) {
    .detailsContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        gap: 40px;
    }
    .bigImg {
        width: 630px;
        height: 600px;
    }
    .productImgArea {
        gap: 14px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 166px;
        justify-items: center;
    }

    .smallImgArea {
        width: auto;
        flex-direction: row;
        gap: 20px;
        grid-row: 2 / 3;
        justify-self: left;
    }

}

@media screen and (width < 630px) {
    .smallImgArea {
        width: 100%;
    
        flex-direction: row;
        gap: 14px;
    
    }
    .smallImgOption {
        width: 130px;
    
        height: 140px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .bigImg {
        width: 100%;
        height: 100%;
    }
    
    .bigImage {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}
@media screen and (width < 450px) {
    .smallImgArea {
        width: 100%;
        overflow: auto;
        flex-direction: row;
        gap: 14px;
    
    }
    .smallImgOption {
        width: 130px;

        height: 140px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .productTitle {
        font-size: 24px;
       
    }
    .ProductPrice,
.productActualPrice {
    font-size: 20px;
    font-weight: 500;
}
.sizeBtn {
    padding: 8px 16px;
    background-color: var(--searchBar);
    border-radius: 62px;
    -webkit-border-radius: 62px;
    -moz-border-radius: 62px;
    -ms-border-radius: 62px;
    -o-border-radius: 62px;
font-size: 14px;
    border: none;
}
.bgBlackSM,
.bgBlackMDM,
.bgBlackL,
.bgBlackXL {
    background-color: var(--black);
    color: var(--white);
}
.description{
    font-size: 14px;
}
.sizeArea {
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
}
}