.forgetWrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--searchBar);
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgetMain {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.forgetFormBox {
  width: 100%;
  max-width: 450px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}

.forgetTitle {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.forgetSubtitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  color: #555;
}

.forgetFieldGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 20px;
}

.forgetFieldLabel {
  font-size: 14px;
  font-weight: 500;
  color: #626262;
}

.forgetFieldInput {
  height: 36px;
  padding: 0 8px;
  border-radius: 6px;
  border: none;
  outline: 2px solid #b3b3b3;
  font-size: 14px;
}

.forgetFieldInput:focus {
  outline: 2px solid black;
}

.forgetDivider {
  border-top: 1px solid #8b8b8b;
  margin: 15px 0;
}

.forgetSubmitButton {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
}

.forgetBackContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgetBackButton {
  background: white;
  color: black;
  padding: 10px 0;
  border: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  margin: 20px 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.forgetBackText {
  margin-left: 10px;
}
