.increment , .decrement{
    font-size: 24px;
    padding-block: 6px;
    padding-inline: 14px;
    cursor: pointer;
    border: none;
}


.quantityBar{
    min-width: 170px;
    align-items: center;
    justify-content: space-evenly;
   background-color: var(--searchBar);
    border-radius: 62px;
    -webkit-border-radius: 62px;
    -moz-border-radius: 62px;
    -ms-border-radius: 62px;
    -o-border-radius: 62px;
    overflow: hidden;
}
.quantity{
   min-width: 66px;
    font-size: 16px;
    text-align: center;
}

@media screen and (width < 980px) {
    .increment , .decrement{
        font-size: 20px;
        padding-block: 4px;
        padding-inline: 14px;
        cursor: pointer;
        border: none;
    }
    
    
    .quantityBar{
        min-width: 150px;
        align-items: center;
        justify-content: space-evenly;
       background-color: var(--searchBar);
        border-radius: 62px;
        -webkit-border-radius: 62px;
        -moz-border-radius: 62px;
        -ms-border-radius: 62px;
        -o-border-radius: 62px;
        overflow: hidden;
    }
    .quantity{
       min-width: 66px;
        font-size: 14px;
        text-align: center;
    }
}
@media screen and (width < 400px) {
    .increment , .decrement{
        font-size: 20px;
        padding-block: 4px;
        padding-inline: 14px;
        cursor: pointer;
        border: none;
    }
    
    
    .quantityBar{
        min-width: 130px;
        align-items: center;
        justify-content: space-evenly;
       background-color: var(--searchBar);
        border-radius: 62px;
        -webkit-border-radius: 62px;
        -moz-border-radius: 62px;
        -ms-border-radius: 62px;
        -o-border-radius: 62px;
        overflow: hidden;
    }
    .quantity{
       min-width: 44px;
        font-size: 14px;
        text-align: center;
    }
}